
html,body{
  background-color:#E7E2E5;
}
.myCircle{
  width: 100%;
  min-height:4.76rem;
  background-color: #eee;

  .myCircleNav{
    z-index: 999;
    box-sizing: border-box;
    height: .44rem;
    width: 100%;
    padding: 0 .13rem;
    background-color: #fff;
    position:fixed ;
    left: 0;
    top: 0;
    .nav{
      position: absolute;
      left:0;
      right: 0;
      top: 0;
      text-align: center;
      display: inline-block;
      width: 1.96rem;
      margin:  0 auto;
      a{
        display: inline-block;
        width: .65rem;
        line-height: .44rem;
        height: .44rem;
        font-size: .16rem;
        color: #999999;
      &.activeMy{
        font-weight: bold;
        color: #4A4945;
      }
      }
    }
    .header{
      background: #fff;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left{
        display: inline-block;
        width: .25rem;
        height: .25rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .right{
        display: inline-block;
        width: .25rem;
        height: .25rem;
        img{
          width: 100%;
          height: 100%;
        }
      }
      }
    }

.CircleList{
  margin-top: .44rem  ;
  margin-bottom: .49rem;
}

  .footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
  }
}