
.profileBox{
  vertical-align: super;
  .profile {
    overflow: hidden;
    width: 3.2rem;
    //height: 7.25rem;
    .profile-pro{
      width: 3.2rem;
      height: .44rem;
    }

  }
  .profile-set {
    position: fixed;
    top :0;
    z-index: 9;
    width: 100%;
    height: .44rem;
    img {
      float: right;
      padding: .1rem;
      width: .25rem;
      height: .25rem;

    }

  }
  .profileTab{
    width: 3.2rem;
    position: fixed ;
    bottom :0;
    z-index: 5;
  }
  .profileList{
    width: 3.2rem;
    left: 0;
  }
}

