.register{
  width: 3.2rem;
  height: 4.44rem;
.register-s7e1f0f36{
  width: 3.2rem;
  height: .44rem;
  overflow: hidden;
  zoom:1;
}
  .register-header{
    width: 100%;
    height: 0.44rem;
    position: fixed;
    top: 0;
    left: 0;
    .register-img{
      position: fixed;
      top: 0;
      right: 0.05rem;
      height: 0.3rem;
      width: 0.25rem;
      margin-top: .08rem;
      border-style: none;

    }
    .register-login{
      width: 100%;
      height: 0.44rem;
      position: fixed;
      top: 0;
      left: 0;
      text-align: center;
      font-size: .18rem;
      margin-top: .08rem;
    }
  }
.register-s2ec637ff{
  background: #FFF;
  height: .44rem;
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 .13rem;
  margin: 0 auto;
  min-width: 6rem;
  box-sizing: border-box;


}
 .register-s-3613cfc6{
   font-size: 0;
   height: .44rem;
   float: left;
   display: inline-block;
   cursor: pointer;
   position: relative;
   z-index: 1;
   .register-s-6adcf0e0{
     width: .25rem;
     height: .25rem;
     margin: .095rem 0;
   }
   .register-s-457b7fc4{
     width: 100%;
     height: .44rem;
     line-height: .44rem;
     position: absolute;
     left: 0;
     right: 0;
     font-size: .18rem;
     font-weight: bold;
     text-align: center;
     padding: 0 .9rem;
     margin: 0 auto;
     box-sizing: border-box;
     color: #4A4945;
     overflow: hidden;
     text-overflow: ellipsis;
   }
  }
  .register-s-505debda{
    width: 100%;
    max-width: 4rem;
    font-size: 0;
    margin: 0 auto;
    .register-s-34f4f4a1{
      width: 100%;
      height: 1.88rem;
      overflow: hidden;
    }
  }
  .register-s-5566e7c3{
    font-size: .2rem;
    color: #999999;
    line-height: .28rem;
    text-align: center;
    margin-top: .1rem;
  }
  .register-s747151b9{
    width: 2.5rem;
    height: .5rem;
    box-sizing: border-box;
    border-radius: .5rem;
    text-align: center;
    margin: .2rem auto .3rem auto;
    background-image: -webkit-linear-gradient(bottom left,#2AC277,#09A458);
    background-image: linear-gradient(to top right,#2AC277,#09A458);
    .register-s-488bd9c1{
      font-size: 0;
      width: .4rem;
      height: .4rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: .15rem;
      .register-s-34f4f4a1{
        width: 100%;
        overflow: hidden;
      }
      .register-s6cdc22ab{
        font-size: .18rem;
        line-height: .5rem;
        display: inline-block;
        vertical-align: middle;
        color: #FFFFFF;
        width: .8rem;
      }
    }

  }
  .register-s-24e0dc36{
    font-size: .12rem;
    color: #999999;
    text-align: center;
    height: .2rem;
    margin: .2rem auto;
    cursor: pointer;

  }
  .register-s-51e4d797{
    color: #1976D2;
    font-size: .14rem;
    text-align: center;
    padding: .1rem 0;
    margin: 25px auto;
    text-decoration: underline;
  }











}