.cookDetail{
  .detail-header{
    z-index: 999;
    height: .44rem;
    width: 100%;
    padding: 0 .13rem;
    background-color: #fff;
    position:fixed ;
    left: 0;
    top: 0;
    line-height: .44rem;
    text-align: center;
    .icon-fanhui{
      width: .25rem;
      height: .25rem;
      vertical-align: top;
      display: inline-block;
      position: absolute;
      left: .13rem;
      top:.1rem;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .title{
      vertical-align: top;
      text-align: center;
      height: .44rem;
      line-height: .44rem;
      font-size: .18rem;
      font-weight: bold;
      margin: 0 auto;
    }
    .collect{
      display: inline-block;
      background-color: #E98B71;
      color: #FFFFFF;
      border: .01rem solid #E98B71;
      border-radius: .04rem;
      height:.3rem;
      width: .6rem;
      font-size: .14rem;
      line-height:.3rem ;
      
    }
  }
}