.ye-comment{
  header{
    padding: 0 .15rem;
    height:.44rem;
    font-size: .12rem;
    color: #999;
    text-align: center;
    .cancle{
      float: left;
    }
    .sure{
      float: right;
    }
    h3{
      font-size: .14rem;
      color: #4A4945;
    }
  }
  .toComment{
    padding: 0 .15rem;
    font-size: .12rem;
    color: #4A4945;
  }
}